<div class="fundo flex flex-column md:flex-row">
  <div class="cards grid flex align-items-center justify-content-center ">
    <div class="card">
      <img src="../../../assets/showcase/images/HotelCard1.jpg" alt="Image">
      <div class="conteudo">
        <h1>Hotel Beira-Mar</h1>
        <div class="rate flex flex-row flex-wrap">
          <div class="flex align-items-center justify-content-center" style="color: #ff7700;">
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
          </div>
          <p>HOTEL</p>
        </div>
        <div>
          <hr id="linha1">
          <p>Local</p>
          <hr id="linha2">
        </div>
      </div>
      <div class="flex align-items-center justify-content-end">
        <button href="">
          Reservar
        </button>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/showcase/images/HotelCard1.jpg" alt="Image">
      <div class="conteudo">
        <h1>Hotel Beira-Mar</h1>
        <div class="rate flex flex-row flex-wrap">
          <div class="flex align-items-center justify-content-center" style="color: #ff7700;">
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
          </div>
          <p>HOTEL</p>
        </div>
        <div>
          <hr id="linha1">
          <p>Local</p>
          <hr id="linha2">
        </div>
      </div>
      <div class="flex align-items-center justify-content-end">
        <button href="">
          Reservar
        </button>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/showcase/images/HotelCard1.jpg" alt="Image">
      <div class="conteudo">
        <h1>Hotel Beira-Mar</h1>
        <div class="rate flex flex-row flex-wrap">
          <div class="flex align-items-center justify-content-center" style="color: #ff7700;">
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
            <i class="pi pi-star-fill"></i>
          </div>
          <p>HOTEL</p>
        </div>
        <div>
          <hr id="linha1">
          <p>Local</p>
          <hr id="linha2">
        </div>
      </div>
      <div class="flex align-items-center justify-content-end">
        <button href="">
          Reservar
        </button>
      </div>
    </div>
  </div>
</div>
