<div class="toolbar">
<div class="flex flex-row  flex-wrap ">
    <h1 class="flex align-items-center justify-content-center">HotelBra</h1>

</div>
<div class="flex flex-row-reverse flex-wrap">
  <a class="flex align-items-center justify-content-center" (click)="visibleSidebar2 = true" ><img  src="../../../assets/Group 1.svg" alt="hamburguer" ></a>
</div>
<p-sidebar class="color_side" [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Right Sidebar</h1>
  </p-sidebar>
</div>
