/* You can add global styles to this file, and also import other style files */
@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

html {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1D1106;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #9D8166;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #1D1106;
  /* creates padding around scroll thumb */
}
